body{
    background-image: url("back.avif")

}

.header{
    color: black;
    font-family:'Press Start 2P', "consolas";
    margin-top: 50px;

}
img {
    position: relative;
    right: -1000px;
    margin-top: 50px;
}

p{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: wavy;
    font-size: 18px;

}
button{
    position: relative;
    right: -1000px;
    margin-top: 50px;
    margin-left: 20px;
}

button:hover{
    background-color: black;
    color:white;
}

